<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
</head>

<body>
  <!-- 
      v-if   根据条件创建或者清楚dom元素
      v-show 根据条件显示或是隐藏dom元素 
    -->

  <!-- 
      当我们给定的boolean为真，表现是一样的
      当我们给定的boolean为假，v-if会把dom节点干掉，v-show不会把其干掉，但是通过样式隐藏

      应用场景:(考你的就是性能优化相关)
	      当需要进行频繁切换的时候，推荐用v-show
	      当需要在条件达到的时候，才创建dom元素，就是用v-if
     -->

  <!-- MVVM的view部分 作用:负责呈现 -->
  <div id="app">
    使用v-if
    <p v-if='isShow'>the good man </p>
    <br/> 使用v-show
    <p v-show='isShow'>the bad man </p>
    <br/>
    <button @click='click()'>切换</button>
    <br>
    <br>
    <br> v-if&v-else-if
    <div v-if="type==='A'">A</div>
    <div v-else-if="type==='B'">B</div>
    <div v-else-if="type==='C'">C</div>
    <div v-else>JDKFJSLDFJ</div>
  </div>
</body>
<!-- VM & M 的代码写在script中 -->
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      isShow: true,
      type: 'B'
    },
    methods: {
      click: function () {
        this.isShow = !this.isShow

      }
    }
  })
</script>

</html>